@if (openMenu()) {
<div
  class="fixed inset-0 bg-dark z-10 flex flex-col items-center justify-center md:hidden"
>
  <nav class="flex flex-col items-center space-y-4 text-light">
    <ng-container *ngTemplateOutlet="navigationItems"></ng-container>
  </nav>
</div>
}

<div
  class="sticky top-0 p-3 md:p-5 border-b-1 flex justify-between flex-wrap items-center z-20 rounded-b-2xl"
  [ngClass]="{
      'bg-dark text-light border-dark': openMenu(),
      'bg-light border-muted dark:bg-dark': !openMenu(),
    }"
>
  <a
    class="text-2xl"
    [routerLink]="['/']"
    (click)="handleNavigation($event, '/')"
    >{{ 'calculator.title' | translate }}</a
  >

  <nav class="hidden md:flex flex-row items-center gap-2">
    <ng-container *ngTemplateOutlet="navigationItems"></ng-container>
  </nav>

  <button
    class="h-9 w-9 cursor-pointer border flex items-center justify-center md:hidden"
    (click)="toggleMenu()"
  >
    <div
      class="icon icon-hamburger"
      [class.icon-hamburger-open]="openMenu()"
    ></div>
  </button>
</div>

<!-- Navigation Items Template -->
<ng-template #navigationItems>
  @let isHomeActive = isRouteActive('/');
  <a
    [routerLink]="['/']"
    [ngClass]="{
      'text-primary!': isHomeActive,
      'underline': isHomeActive,
      'md:font-bold!': isHomeActive,
    }"
    class="cursor-pointer no-underline text-2xl font-semibold md:font-normal md:text-base"
    (click)="handleNavigation($event, '/')"
  >
    {{ 'common.nav.home' | translate }}
  </a>

  @let isRoutesActive = isRouteActive('/routes');
  <a
    [routerLink]="'/routes'"
    [ngClass]="{
      'text-primary!': isRoutesActive,
      'underline': isRoutesActive,
      'md:font-bold!': isRoutesActive,
    }"
    class="cursor-pointer no-underline text-2xl font-semibold md:font-normal md:text-base"
    (click)="handleNavigation($event, '/routes')"
  >
    {{ 'common.nav.routes' | translate }}
  </a>

  @let isHowItWorksActive = isRouteActive('/how-it-works');
  <a
    [routerLink]="'/how-it-works'"
    [ngClass]="{
      'text-primary!': isHowItWorksActive,
      'underline': isHowItWorksActive,
      'md:font-bold!': isHowItWorksActive,
    }"
    class="cursor-pointer no-underline text-2xl font-semibold md:font-normal md:text-base"
    (click)="handleNavigation($event, '/how-it-works')"
  >
    {{ 'common.nav.how-it-works' | translate }}
  </a>
</ng-template>
